*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.row{
    background-color: transparent;
    color: rgb(236, 231, 231);
    /* border: 2px solid whitesmoke;
    border-radius: 20px; */
   
}
.box1{
    border: 2px solid whitesmoke;
    border-radius: 20px; 
} 

 .container{
  
    height: 100%;
} 